certifi==2018.8.24
chardet==3.0.4
Click==7.0
cluster==1.4.1.post1
dj-static==0.0.6
Django==2.1.1
django-choices==1.6.1
django-core==1.4.1
django-cors-headers==2.4.0
django-filter==2.0.0
django-test==0.4030
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
env==0.1.0
gunicorn==19.9.0
idna==2.7
lark-parser==0.5.6
Markdown==2.6.11
Pillow==5.2.0
popper==1.1.1
psycopg2==2.7.5
pyaes==1.6.1
pytz==2018.5
PyYAML==3.13
requests==2.19.1
static3==0.7.0
urllib3==1.23
