{% extends "master_template.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}Rocket DBaaS - Cluster Details{% endblock %}

{% block main_content %}
    <div class="card-title">{{ cluster.application.application_name }} </div>
    <div>
        <table class="table table-hover" style="background-color: #eaf8ff">
            <thead>
            <tr style="background-color: #79aec8">
                <th scope="col">Cluster</th>
                <th scope="col">DBMS</th>
                <th scope="col">Application</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">Health</th>
                <th scope="col">R/W Port</th>
                <th scope="col">R/O Port</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ cluster.cluster_name }}</td>
                <td>{{ cluster.dbms_type }}</td>
                <td>{{ cluster.application }}</td>
                <td>{{ cluster.requested_cpu }}</td>
                <td>{{ cluster.requested_mem_gb }}</td>
                <td>{{ cluster.requested_db_gb|intcomma }}</td>
                <td>{{ cluster.cluster_health }}</td>
                <td>{{ cluster.read_write_port }}</td>
                <td>{{ cluster.read_only_port }}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div style="background-color: #b1dfbb">
        <table class="table table-hover">
            <thead>
            <tr style="background-color: #28a745">
                <th scope="col">DC</th>
                <th scope="col">Server Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Role</th>
                <th scope="col">Health</th>
                <th scope="col">Alerts</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">OS Ver</th>
                <th scope="col">DB Ver</th>
                <th scope="col">Pending Restart</th>
            </tr>
            </thead>
            <tbody>
            {% for s in servers %}
                <tr>
                    <th>{{ s.data_center }}</th>
                    <td>{{ s.server_name }}</td>
                    <td>{{ s.server_ip }}</td>
                    <td>{{ s.node_role }}</td>
                    <td>{{ s.s }}</td>
                    <td>???</td>
                    <td>{{ s.cpu }}</td>
                    <td>{{ s.mem_gb }}</td>
                    <td>{{ s.db_gb }}</td>
                    <td>{{ s.os_version }}</td>
                    <td>{{ s.db_version }}</td>
                    <td>{{ s.pending_restart_sw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <link href="{% static 'css/tabs.css' %}" rel="stylesheet">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Graphs">Graphs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Backups">Backups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Restores">Restores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Activities">Activities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Notes">Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="Graphs">
            <h3>Graphs</h3>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="Backups">
            <h3>Backups</h3>
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                beer
                twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="Restores">
            <h3>Restores</h3>
            <p>Restores:Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo
                retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                iphone
                skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="Notes">
            <h3>Notes</h3>
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                cleanse
                gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore
                wolf
                cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                farm-to-table VHS viral locavore cosby sweater.</p>
        </div>
        <div class="tab-pane fade" id="Contacts">
            <h3>Contacts</h3>
            <table class="table table-hover">
                <thead>
                <tr style="background-color: #28a745">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.contact_name }}</td>
                        <td>{{ contact.contact_email }}</td>
                        <td>{{ contact.contact_phone }}</td>
                        <td>{{ contact.contact_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
