{% extends "master_template.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}Rocket DBaaS - Cluster Details{% endblock %}

{% block main_content %}
    <div class="card-title" xmlns="http://www.w3.org/1999/html">{{ cluster.application.application_name }} </div>
    <div>
        <table class="table table-hover" style="background-color: #eaf8ff">
            <thead>
            <tr style="background-color: #79aec8">
                <th scope="col">Cluster</th>
                <th scope="col">DBMS</th>
                <th scope="col">Application</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">Health</th>
                <th scope="col">R/W Port</th>
                <th scope="col">R/O Port</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ cluster.cluster_name }}</td>
                <td>{{ cluster.dbms_type }}</td>
                <td>{{ cluster.application }}</td>
                <td>{{ cluster.requested_cpu }}</td>
                <td>{{ cluster.requested_mem_gb }}</td>
                <td>{{ cluster.requested_db_gb|intcomma }}</td>
                <td>{{ cluster.cluster_health }}</td>
                <td>{{ cluster.read_write_port }}</td>
                <td>{{ cluster.read_only_port }}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div style="background-color: #b1dfbb">
        <table class="table table-hover">
            <thead>
            <tr style="background-color: #28a745">
                <th scope="col">DC</th>
                <th scope="col">Server Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Role</th>
                <th scope="col">Health</th>
                <th scope="col">Alerts</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">OS Ver</th>
                <th scope="col">DB Ver</th>
                <th scope="col">Pending Restart</th>
            </tr>
            </thead>
            <tbody>
            {% for s in servers %}
                <tr>
                    <th>{{ s.data_center }}</th>
                    <td>{{ s.server_name }}</td>
                    <td>{{ s.server_ip }}</td>
                    <td>{{ s.node_role }}</td>
                    <td>{{ s.s }}</td>
                    <td>???</td>
                    <td>{{ s.cpu }}</td>
                    <td>{{ s.mem_gb }}</td>
                    <td>{{ s.db_gb }}</td>
                    <td>{{ s.os_version }}</td>
                    <td>{{ s.db_version }}</td>
                    <td>{{ s.pending_restart_sw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <link href="{% static 'css/tabs.css' %}" rel="stylesheet">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Graphs">Graphs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Backups">Backups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Restores">Restores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Activities">Activities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Notes">Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="Graphs">
            <h3>Graphs</h3>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>


        <div class="tab-pane fade" id="Backups">
            <h3>Backups</h3>
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                beer
                twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>


        <div class="tab-pane fade" id="Restores">
            <h3>Restores</h3>
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                beer
                twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>


        <div class="tab-pane fade" id="Activities">
            <div class="album py-1 bg-light">
                <div class="container">
                    <h3 class="lead text-md-left font-weight-bold">Latest Server Activities</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr style="background-color: #28a745">
                            <th scope="col">Server</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Status</th>
                            <th scope="col">Start</th>
                            <th scope="col">Stop</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sa in server_activities %}
                            <tr>
                                <td>{{ sa.server.server_name }}</td>
                                <td>{{ sa.server_activity }}</td>
                                <td>{{ sa.activity_status }}</td>
                                <td>{{ sa.start_dttm }}</td>
                                <td>{{ sa.stop_dttm }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="Notes">
            <div class="album py-1 bg-light">
                <div class="container">
                    <h3 class="lead text-md-left font-weight-bold">Latest Notes</h3>
                    {% for note in cluster.clusternote_set.all %}
                        <div class="card border-{{ note.note_color }}">
                            <div class="card-header bg-{{ note.note_color }}">
                                <span style="font-size: large; font-weight: bold">{{ note.title }}</span>
                                <div></div>
                                <span style="font-size: small; font-weight: bold"> {{ note.created_by }} - {{ note.prettyNoteCreateDate }}</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ note.note }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="Contacts">
            <h3>Contacts</h3>
            <table class="table table-hover">
                <thead>
                <tr style="background-color: #28a745">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.contact_name }}</td>
                        <td>{{ contact.contact_email }}</td>
                        <td>{{ contact.contact_phone }}</td>
                        <td>{{ contact.contact_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
