{% extends "master_template.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}Rocket DBaaS - Cluster Details{% endblock %}

{% block main_content %}
    <h2 class="card-title" xmlns="http://www.w3.org/1999/html">{{ cluster.application.application_name }} </h2>
    <div>
        <table class="table table-hover" style="background-color: #eaf8ff">
            <thead>
            <tr style="background-color: #79aec8">
                <th scope="col">Cluster</th>
                <th scope="col">DBMS</th>
                <th scope="col">Application</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">Health</th>
                <th scope="col">R/W Port</th>
                <th scope="col">R/O Port</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ cluster.cluster_name }}</td>
                <td>{{ cluster.dbms_type }}</td>
                <td>{{ cluster.application }}</td>
                <td>{{ cluster.requested_cpu }}</td>
                <td>{{ cluster.requested_mem_gb }}</td>
                <td>{{ cluster.requested_db_gb|intcomma }}</td>
                <td {% if cluster.cluster_health != "ClusterUp" %}
                    class="bg-warning" {% endif %}>
                    {{ cluster.cluster_health }}</td>
                <td>{{ cluster.read_write_port_id }}</td>
                <td>{{ cluster.read_only_port_id }}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div style="background-color: #e6ffe5">
        <table class="table table-hover">
            <thead>
            <tr style="background-color: #28a745">
                <th scope="col">DC</th>
                <th scope="col">Server Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Role</th>
                <th scope="col">Health</th>
                <th scope="col">Alerts</th>
                <th scope="col">CPU (GB)</th>
                <th scope="col">RAM (GB)</th>
                <th scope="col">DB GB</th>
                <th scope="col">OS Ver</th>
                <th scope="col">DB Ver</th>
                <th scope="col">Pending Restart</th>
            </tr>
            </thead>
            <tbody>
            {% for s in servers %}
                <tr>
                    <th>{{ s.data_center }}</th>
                    <td>{{ s.server_name }}</td>
                    <td>{{ s.server_ip }}</td>
                    <td>{{ s.node_role }}</td>
                    <td {% if s.server_health != "ServerUp" %}
                        class="bg-warning" {% endif %}>{{ s.server_health }}</td>
                    <td></td>
                    <td>{{ s.cpu }}</td>
                    <td>{{ s.mem_gb }}</td>
                    <td>{{ s.db_gb }}</td>
                    <td>{{ s.os_version }}</td>
                    <td>{{ s.db_version }}</td>
                    <td>{{ s.pending_restart_sw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <link href="{% static 'css/tabs.css' %}" rel="stylesheet">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Graphs">Graphs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Backups">Backups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Restores">Restores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Activities">Activities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Issues">Issues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Notes">Notes</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="Graphs">
            <div class="album">
                <h3>Graphs</h3>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro
                    synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    retro
                    keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                    placeat
                    salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
        </div>


        <div class="tab-pane fade" id="Backups">
            <div class="album">
                <h4>Latest Backups</h4>
                <table class="table table-hover">
                    <thead>
                    <tr style="background-color: #28a745">
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Started</th>
                        <th scope="col">Stopped</th>
                        <th scope="col">Duration</th>
                        <th scope="col">DB (GB)</th>
                        <th scope="col">Backup (GB)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for b in cluster.backup_set.all %}
                        <tr {% if b.backup_status == "Failed" %} class="bg-warning" {% endif %}>
                            <td>{{ b.backup_type }}</td>
                            <td>{{ b.backup_status }}</td>
                            <td>{{ b.start_dttm }}</td>
                            <td>{{ b.stop_dttm }}</td>
                            <td>{{ b.duration }}</td>
                            <td>{{ b.db_size_gb }}</td>
                            <td>{{ b.backup_size_gb }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade" id="Restores">
            <div class="album">
                <h4>Latest Restores</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">From Cluster</th>
                        <th scope="col">Type</th>
                        <th scope="col">Restored To</th>
                        <th scope="col">Status</th>
                        <th scope="col">Started</th>
                        <th scope="col">Stopped</th>
                        <th scope="col">Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in cluster.restore_to_cluster.all %}
                        <tr {% if r.restore_status == "Failed" %}
                            class="bg-danger"
                        {% else %}
                            class="bg-warning"
                        {% endif %}>
                            <td>{{ r.from_cluster }}</td>
                            <td>{{ r.restore_type }}</td>
                            <td>{{ r.restore_to_dttm }}</td>
                            <td>{{ r.restore_status }}</td>
                            <td>{{ r.start_dttm }}</td>
                            <td>{{ r.stop_dttm }}</td>
                            <td>{{ r.duration }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade" id="Activities">
            <div class="album">
                <h4>Latest Server Activities</h4>
                <table class="table table-hover">
                    <thead>
                    <tr style="background-color: #28a745">
                        <th scope="col">Server</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start</th>
                        <th scope="col">Stop</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sa in server_activities %}
                        <tr>
                            <td>{{ sa.server.server_name }}</td>
                            <td>{{ sa.server_activity }}</td>
                            <td>{{ sa.activity_status }}</td>
                            <td>{{ sa.start_dttm }}</td>
                            <td>{{ sa.stop_dttm }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade" id="Issues">
            <div class="album">
                <h4>Latest Issues</h4>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro
                    synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    retro
                    keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                    placeat
                    salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
        </div>


        <div class="tab-pane fade" id="Contacts">
            <div class="album">
                <h4>Contacts</h4>
                <table class="table table-hover">
                    <thead>
                    <tr style="background-color: #28a745">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.contact_name }}</td>
                            <td>{{ contact.contact_email }}</td>
                            <td>{{ contact.contact_phone }}</td>
                            <td>{{ contact.contact_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="tab-pane fade" id="Notes">
            <div class="album">
                <div class="row">
                    <h4>Latest Notes</h4>
                    <i class="material-icons">edit</i>
                </div>
                {% for note in cluster.clusternote_set.all %}
                    <div class="card border-{{ note.note_color }}">
                        <div class="card-header bg-{{ note.note_color }}">
                            <span style="font-size: large; font-weight: bold">{{ note.title }}</span>
                            <div></div>
                            <span style="font-size: small; font-weight: bold"> {{ note.created_by }} - {{ note.prettyNoteCreateDate }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ note.note }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
