{% extends "master_template.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}Rocket DBaaS - Create Cluster{% endblock %}

{% block main_content %}
    <h2 class="card-title" xmlns="http://www.w3.org/1999/html">Create Cluster</h2>
    <form method="post" action="{% url 'create-cluster' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        Cluster Name: <input type="text" nane="cluster_name">
        DBMS: <select class="form-control" id="exampleFormControlSelect1">
        {% for d in dbms %}
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        Application:
        CPU:
        RAM (GB):
        DB (GB):


    <ul>
        {%  for c in obj.dbms_types %}
            <li>{{ c.lables }}</li>
        {%  endfor %}
    </ul>

    <ul>
        {%  for c in obj.data_centers %}
            <li>{{ c }}</li>
        {%  endfor %}
    </ul>
{% endblock %}